<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>View Articles</title>
</head>
<body>
<!-- header start --> 
 <table border='1'>
   <tr>
     <td><%= link_to 'Home', welcome_index_path %></td>
     <td><a href="rental_menu.jsp">Rentals</a></td>
     <td><%= link_to 'Bicycles', bicycles_path %></td>
     <td><a href="renter_menu.jsp">Renters</a></td>
     <td><a href="account_menu.jsp">Account info</a>
     <td><a href="logout.jsp">Logout</a></td>
   </tr>
 </table>
<!-- header end --> 
<br>
<br>
<h3>List of Bicycles</h3>
<p><%= link_to 'New bicycle', new_bicycle_path %></p>
<table>
  <tr><th>Type</th><th>Brand</th><th>Model</th><th>Serial number</th></tr>

  <% @bicycles.each do |bicycle| %>
  <tr>
    <td><%= bicycle.biketype %></td>
    <td><%= bicycle.brand %></td>
    <td><%= bicycle.model %></td>
    <td><%= bicycle.serial %></td>
    <td><%= link_to 'Show', bicycle_path(bicycle) %></td>
    <td><%= link_to 'Edit', edit_bicycle_path(bicycle) %></td>
    <td><%= link_to 'Delete', bicycle_path(bicycle), method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
  <% end %>
</table>

</body>
</html>
