<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>View Article</title>
</head>
<body>
<!-- header start --> 
 <table border='1'>
   <tr>
     <td><%= link_to 'Home', welcome_index_path %></td>
     <td><a href="rental_menu.jsp">Rentals</a></td>
     <td><%= link_to 'Bicycles', bicycles_path %></td>
     <td><a href="renter_menu.jsp">Renters</a></td>
     <td><a href="account_menu.jsp">Account info</a>
     <td><a href="logout.jsp">Logout</a></td>
   </tr>
 </table>
<!-- header end --> 
<br>
<br>

<p>
  <strong>Type:</strong>
  <%= @bicycle.biketype %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @bicycle.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @bicycle.model %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @bicycle.serial %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @bicycle.notes %>
</p>

</body>
</html>
